<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <div class="head">
           <h3>login</h3> 
        </div>
        <div  class="main2">
        <div>
           <label>email:</label><br><input type="text" name="email" >
        </div>
        <div>
            <label>password:</label><br><input type="password" name="password">
        </div>
    </div>
    <div>
        <button>submit</button>
    </div>
    <div class="acc">
        <a routerLink="/login/signup">dont you have an account</a>
    </div>

    </div>
   
</body>
</html>
