<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
     <div class="main">
           <div class="left">awareness on road safety and transport</div>
           <div class="right">
            <ul>
                <li><a routerLink="/login/login1">login</a></li>
                <li><a routerLink="/login/signup">sign up</a></li>
            </ul>
           </div>
     </div>
     <div class="main1">
        <router-outlet></router-outlet>
     </div>
</body>
</html>
