<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Profile</h3>
    <div class="profile">
        
        <div class="content">
           <div class="im"><img class="img" src="./assets/card.png"></div> 
        <div class="f"><p class="p">name:knc</p>
            <p class="p">email:kanjarla@gmail.com</p>
            <p class="p">phone no:9177164283
            </p>
            <p class="p">password:12345
            </p></div>  
        
        </div>
    </div>
    <div class="edit">
        <button>edit profile</button>
    </div>
</body>
</html>
