<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="acc">
    <div class="h">book ambulance</div>
    <select class="kl">
        <option>narasaraopet</option>
        <option value="">satuluru</option>
        <option value="">jonnalagadda</option>
        <option value="">ravipadu</option>
        <option value="">kotappakanda</option>
        <option value="">isappalem</option>
        <option value="">dechavaram</option>
        <option value="">sattenapalli</option>
        <option value="">muppala</option>
        <option value="">nudhurupadu</option>
    </select>

    <select class="kl">
        <option>msr Hospital</option>
        <option value="">ram Hospital</option>
        <option value="">raghava Hospital</option>
        <option value="">ram gopi Hospital</option>
        <option value="">netra Hospital</option>
        <option value="">krishna Hospital</option>
        <option value="">sk Hospital</option>
        <option value="">ram krishna Hospital</option>
        <option value="">srinidhi Hospital</option>
        <option value="">srinivas Hospital</option>
        <option value="">abhinaya Hospital</option>
        <option value="">lata Hospital</option>
        <option value="">pushpa Hospital</option>
    </select>
    <input type="text" name="numb" placeholder="Number of persons">
    <input type="text" name="vehicles" placeholder="Number of vehicles">
   </div>
   <div class="btn"><button>Submit</button></div>
</body>
</html>
