<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="acc">
    <div class="h">accident details</div>
    <input type="date" name="date" placeholder="Date of Accident" >
    <input type="time" name="time" placeholder="Time of Accident">
    <input type="text" name="numb" placeholder="Number of persons">
    <input type="text" name="vehicles" placeholder="Number of vehicles">
   </div>
   <div class="btn"><button>Submit</button></div>
</body>
</html>
