<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="matter">Awareness programmes on Road Rules to educate the people to prevent Road Accidents:
            The Transport Department is conducting regular awareness programme in the jurisdiction of each unit office of the Transport Department along with the Police, Engineering and Medical & Health Departments are being conducted to bring about awareness on the benefits of use of Helmets, Seat Belts, Avoiding overloading, Drunken Driving, and Usage of Mobile phone while driving.
            
            The Police Department are also conducting awareness programmes for the road users regularly.
            
            KVRR Children Traffic Awareness Park has been established in the Office of the DTC, Karimnagar to impart knowledge about traffic rules and signals. So far 5000 Govt. & Private School students have been trained on traffic Rules in this park.</div>
        <img src="/assets/img.png">
    </div>
    <div class="main1">
        <div class="sub1">
          <div class="mat">
            <h6>Dont use mobile</h6>
            <p>
                Using a mobile phone while driving is dangerous and can lead to accidents. Research shows that using a mobile phone while driving affects our health
            </p>
          </div>
          <img class="k" src="/assets/phone.jpg">
        </div>
        <div class="sub1">
            <div class="mat"> <h6>Dont cross road</h6>
                <p>Crossing the road seems like an easy, thoughtless activity that we do all the time, but it has the potential to be very dangerous. Whether you’re crossing the road as a pedestrian</p></div>
            <img class="k" src="/assets/cross.jpg">
          </div>
          <div class="sub1">
            <div class="mat"> <h6>Dont exceed speedlimit</h6>
                <p>As a driver, what can you do about speeding? The first step is understanding just how dangerous speeding is: Your crash risk increases incrementally for every mile per hour over the speed limit. </p></div>
            <img class="k" src="/assets/speedd.jpg">
          </div>
    </div>
</body>
</html>